.vaging {
    animation: vage-animation 300s linear 0s infinite alternate;
}

@keyframes vage-animation {
    0% {
        transform: translate(-204px, 333px)
    }
    30% {
        transform: translate(-259px, -437px)
    }
    100% {
        transform: translate(947px, -525px)
    }
}